body,ul,li{
	padding: 0;
	margin:0;
}
.demo{
	text-align: center;
}
/********************************this*************************/
.pagination{
	padding-left: 200px;
}
.pagination li{
	display: inline-block;
	font-family: "microsoft yahei";
	font-size:16px;
	margin-right:8px;
}
.pagination li button{
	background:#fff;
	border:1px solid #ddd;
	outline: none;
	width:32px;
	text-align: center;
	height:32px;
	cursor: pointer;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	font-family: "microsoft yahei";
}
/*首尾页*/
.pagination li button.ch{
	width:48px;
}
/*跳转按钮*/
.pagination li button.chosePage{
	width:auto;
}
/*前进后退页*/
.pagination li button.move{
	color:#ddd;
}
/*激活的具体页*/
.pagination li button.btnAct{
	color:#fff;
	background:#FFBB47;
	border:1px solid #FFBB47;
}
.pagination li button:active{
	color:#000;
	background: #ddd;
}
.pagination input{
	width:50px;
	height:32px;
	box-sizing: border-box;
	padding: 5px 10px;
	font-family: "microsoft yahei";
	text-align: center;
}